:root {
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #fff;
    padding: 1rem;
    width: 140rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 80rem;
    padding: 5rem 1rem;
}

.gallery .content{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.gallery .content h2{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.gallery .content p{
    font-size: 1.7rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
    border-bottom: 1px solid #ccc;
}


.gallery .photos{
    display: flex;  
    flex-direction: column;
    gap: .2rem;
}

.gallery .photos .row{
    display: flex;
    gap: 1rem;
}

.gallery .photos .row .col{
    opacity: 1;
    transition: all .3s ;
}



.gallery .photos .row .col:hover{
    opacity: 0.9;
}



/* ************************** */
#gallery2__container{
    height: 70rem;
}

#gallery2 .photos{
    gap: 0.3rem;
}

#gallery2 .photos .row{
    gap: 2rem;
}


#gallery2 .photos .row:last-child .col{
    background-color: var(--secondary);
    flex: 33.3%;
    text-align: center;
    vertical-align: middle;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--light);
}

#gallery2 .photos .row:last-child .col h3{
    letter-spacing: .4rem;
}


/* ************************** */
#gallery3__container{
    height: 60rem;
    padding: 2rem 3rem 1rem 3rem;
}
#gallery3 .content{
    padding-bottom: 4rem;
}
#gallery3 .photos .row{
    justify-content: space-between;
}
#gallery3 .photos .row .col{
    width: 40rem;
    transition: all .3s;
}

#gallery3 .photos .row .col:hover h4{
    font-weight: 400;
}

#gallery3 .photos .row .col:hover p{
    font-style: italic;
}


#gallery3 .photos .row .col img{
    border-radius: 50%;
}

#gallery3 .photos .row .col h4{
    font-weight: 100;
    font-size: 2.5rem;
}