:root {
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}

.header-img{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url("../img/pexel1.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Tamamen kaplamak için */
    background-position: center; /* Resmi ortalamak için */
    position: relative;
}

.header-img .header-img__content{
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    color: var(--light);
    transform: translate(-50%, -50%)
}

.header-img .header-img__content h2{
    font-size: 5rem;
    word-spacing: 1rem;
    letter-spacing: 0.4rem;
    padding: 1rem;
}

.header-img .header-img__content p{
    font-size: 2rem;
    word-spacing: .4rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
}

.header-img .header-img__content button{
    padding: 1.5rem 3.2rem;
    border-radius: 1rem
}